<template>
  <div class="home">
    <h1>欢迎来到新致云</h1>
    <div v-show="isAuthenticated">

      <Card>
          <p slot="title">
              <Icon type="ios-film-outline"></Icon>
              access_token
          </p>
          <div>{{accessToken}}</div>
      </Card>
      <Card>
          <p slot="title">
              <Icon type="ios-film-outline"></Icon>
              refresh_token
          </p>
          <div>{{refreshToken}}</div>
      </Card>
      <Card>
          <p slot="title">
              <Icon type="ios-film-outline"></Icon>
              token info
          </p>
          <div>
            {{tokenInfo}}
          </div>
      </Card>

      
    </div>
    <h2 v-show="!isAuthenticated">请点击登录进入系统</h2>
    <div>
      <Button v-if="!isAuthenticated" type='primary' size='large' @click="toPasswordLogin">使用Password模式登录</Button>
      <Button v-if="!isAuthenticated" type='primary' size='large' @click="toCodeLogin">使用Code模式登录</Button>
      <Button v-if="isAuthenticated" type='primary' size='large' @click='changeToken'>refresh token</Button>
      <Button v-if="isAuthenticated" type='primary' size='large' @click='logout'>退出</Button>
    </div>
  </div>
</template>

<script>
import cookie from 'js-cookie'
import config from '@/config'
import {decodeJWTToken, refreshToken} from '@/service/authentication'
export default {
  name: 'Home',
  data () {
    return {
      msg: {
        title: 'hello'
      },
      accessToken: null,
      refreshToken: null,
      tokenInfo: null,
      isAuthenticated: false
    }
  },
  methods: {
    toPasswordLogin() {
      this.$router.push({name: 'passwordLogin'})
    },
    changeToken() {
      const clientId = JSON.parse(this.tokenInfo).client_id    
      refreshToken(this.refreshToken, clientId, 'password').then(resp => {
        this.$Message.success("更换Token成功。")
        this.initUserInfo()
      })
      
    },
    toCodeLogin(){
      const path = 'http://localhost:6060/oauth/authorize?'
      const scope= 'scope=third-party-web-app'
      const redirect_uri = 'redirect_uri=' + 'http://localhost:8080/code_callback'
      const clientId = 'client_id=third-party-web-app'
      const clientSecret = 'client_secret=password'
      const responseType = 'response_type=code'
      const state = `state=${config.state}`
      const uri = `${path}&${responseType}&${scope}&${redirect_uri}&${clientId}&${clientSecret}&${state}`
      
      window.location = uri
    },
    logout() {
      cookie.remove('access_token')
      this.isAuthenticated = false 
      this.displayName = ''
    },
    initUserInfo(){
      this.accessToken = cookie.get('access_token')
      this.refreshToken = cookie.get('refresh_token')
      if (this.accessToken){
        this.isAuthenticated = true
        this.tokenInfo = JSON.stringify(decodeJWTToken(this.accessToken))
      }
    }
  },
  updated() {
    this.initUserInfo()
  },
  mounted() {
    this.initUserInfo()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
